fastapi
uvicorn
pydantic
pydantic-settings
python-multipart
# Qwen-TTS specific
# Version 0.1.1 is current in repo
torch
torchaudio
soundfile
numpy
scipy
librosa
deepfilternet
soxr
qwen-omni-utils
nagisa
soynlp
pytz
librosa
redis
